#header {
  text-align: center;
}

#name {
  font-size: 28;
  font-weight: lighter;
  color: #58FCEC;
}

#subname {
  font-size: 16;
  color: #FF99C9;
}

body {
  min-width: 420px;
  background-color: #222222;
  color: #A2C7E5;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  padding: 2px;
}

.container {
    display: grid;
    grid-gap: 6px;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-auto-rows: minmax(300px, 1fr);
}

.gridlabel {
  font-size: 20;
  font-weight: bold;
  color: #00bce2;
  margin: 12 24;
  padding: 4 0;
}

img {
  opacity: 0.5;
  width: 92%;
  padding-bottom: 8px;
  transition: filter 0.4s, opacity 0.2s;
  transition-timing-function: ease-in;
}

img:hover {
  opacity: 0.75;
  filter: saturate(1.25) contrast(1.4);
  transition: filter 1.2s, opacity 0.5s;
  transition-timing-function: ease-out;
}

.item {
  display: flex;
  border-style: groove;
  border-width: thin;
  align-items: center;
  border-color: #22222200;
  flex-direction: column;
  /*justify-content: space-around;*/
  transition: color 0.4s, transform 0.4s, font-size 0.2s, border-width 0.4s, border-color 0.2s, border-radius 0.4s;
  transition-timing-function: ease-in-out;
}

.subitem > iframe {
  opacity: 0.15;
  width: 92%;
  margin: 8px 16px;
  transition: opacity 0.1s;
}

.item:hover > .subitem > iframe {
  opacity: 0.8 !important;
  transition: opacity 0.25s;
}

.item > a {
  width: 100%;
}

.item:hover > .itemheader {
  color: #FF99C9;
  transition: color 0.6s, transform 0.4s, font-size: 0.3s, border-width 0.8s, border-color 0.4s, border-radius 1s;
  transition-timing-function: ease-out;
}

.item:hover {
  font-size: 17px;
  color: #FF99C9;
  border-color: #00bce240;
  border-width: medium;
  border-radius: 28px;
  transition: color 0.5s, transform 0.4s, font-size: 0.25s, border-width 0.8s, border-color 0.4s, border-radius 1s;
  transition-timing-function: ease-out;
}

.subitem {
  width: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
  display: flex;
  border-style: groove;
  border-width: thin;
  border-color: #22222210;
  border-radius: 0;
  border-width: 1 0 1 0;
  flex-direction: column;
  transition: 0.4s ease-in-out;
  #transform:scale(1,1);
  color: #A2C7E5;
  font-size: initial;
}

.last {
  border-width:  1 0 0 0 !important;
  border-radius: 0px 0px 48px 48px !important;
}

.last:hover {
  border-width:  1 0 0 0 !important;
  border-radius: 0px 0px 48px 48px !important;
}

.subitem:hover {
  background-color: #242424;
  border-width: 1 0 1 0;
  border-color: #00bce240;
  border-radius: 4px;
  font-size: initial;
  transition: color 0.2s, border-color 0.2s, border-radius 0.1s, transform:0.4s;
  transition-timing-function: ease-out;
}

.sublabel {
  width: 75%;
  align-items: center;
  align-content: flex-start;
  display: flex;
  flex-direction: column;
  transition: 0.4s ease-in-out;
  transform:scale(1,1);
  color: #FF99C9C0;
  font-size: initial;
}

.itemheader {
  height: 50px;
  color: #70D0FF;
}



.subitem:hover > .sublabel {
  font-size: initial;
  color: #FF99C9;
  transition: color 0.15s, border-color 0.2s, transform:0.2s;
  transition-timing-function: ease-out;
  transform:scale(1.25,1);
}

.tinytext {
  font-size: 10;
  color: #DDDDDD;
}

p {
  margin: 8px;
  padding: 4px;
}

.project-img-header > p {
  height: 64px;
}

a {
  color: #8287C5 !important;
  width: 92%;
}


a.item {
  color: #A2C7E5 !important;
  border-radius: 0px;
  transition: color 0.35s, font-size 0.2s, border-width 0.35s, border-color 0.2s, border-radius 0.35s;
  transition-timing-function: ease-in;
  line-height: 1.05
}

a.item:hover {
  font-size: 17;
  color: #FF99C9 !important;
  border-color: #00bce240;
  border-width: medium;
  border-radius: 28px;
  transition: color 0.5s, font-size 0.4s, border-width 0.6s, border-color 0.4s, border-radius 0.8s;
  transition-timing-function: ease-out;
}

a:link {
    text-decoration: none !important;
}

#footer {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
